
.overlay
  z-index 4

.container
  padding-left: 65px
  padding-right: 65px

.fieldset
  text-align: left
  margin-top 50px

.btn
  width: 100%

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0
