@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/size'

.container
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 'calc(100vh - %s)' % sz-navbar-height

.info
  text-align: center;

.message
  margin-top: 40px
  color: color-text-dark
  font(h2-title)
