@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.form
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box

  min-height: 'calc(100vh - %s)' % sz-navbar-height
  padding: 75px 15px 20px


.fieldSet
  width: 100%

.innerFieldSet
  box-sizing: border-box

  max-width: 520px
  margin: 0 auto
  height: 100%

.field
  position: relative;
  margin-top: 37px;

.fieldTooltip
  position: absolute;
  right: 0
  top: 10px

  :global(.gem-tooltip)
    min-width: 300px
    max-width: 500px
    white-space normal



.description
  font(h3-title)
  color: color-text-dark
  text-align: center;

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 50px

  box-sizing: border-box

  > *
    margin-left: 15px
    font-size: 14px

    &:first-child
      margin-left: 0px

.error
  color: color-text-yellow-2
  font(small-text, 600, false, 1)
  margin-top: 8px
