@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

.label
  font(body)
  color: color-text-dark
  position: relative;

.fieldTooltip
  margin-left: 5px
