@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding-right: 20px

.label
  font(body)
  color: color-text-dark
