@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.error
  margin-top: 10px

.resend
  margin-top: 10px
  text-align: left;

  font(body)

.text
  color: color-text-dark

.resent
  color: color-text-blue


.btn
  box-sizing: border-box;
  padding: 0 5px
  margin-left: 5px

  font(body)

  border-radius: 2px
  background-color: transparent
  color: color-text-blue
  border: 1px solid color-heavy-blue

  outline: 0
  cursor: pointer;
