@import 'components/common/uikit/colors';

.container
  box-sizing: border-box;

  height: 100%
  width: 100%

  padding: 20px 14px
  background-color: color-blue-background

  position: relative;

.list
  box-sizing: content-box;

  height: 100%
  width: 100%

  padding-right: 17px;
  overflow-y: auto;
