@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box;

  height: 100%
  width: 100%

  padding: 10px 14px
  background-color: color-blue-background

  position: relative;

  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.list
  box-sizing: content-box;

  height: calc(100% - 75px)
  width: 100%

  overflow-y: auto;
