@import '~@gemsorg/uikit/colors';

.container

  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  height: 54px

  background-color: #2F80ED
  margin-bottom: 10px

  border: 2px solid #4285F4
  border-radius: 5px;


.drag
  background-color: color-white;
  min-width: 35px
  line-height: 54px
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

  text-align: center;

  path
    fill #2F80ED

.name
  box-sizing: border-box;
  padding: 0 6px

  color: color-white;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 52px

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
