@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';


dragging()
  .dragging &
    {block}

.container
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  height: 46px

  background-color: color-primary-blue
  margin-bottom: 10px

  border-radius: 5px;

  cursor pointer

.dragging
  visibility: hidden;
  transform: translate(0, 0);

.drag
  background-color: color-white;
  min-width: 35px
  line-height: 46px

  border-top-left-radius: 4px
  border-bottom-left-radius: 4px

  text-align: center;

  cursor: grab;

.dragIcon
  top: 3px
  position: relative;

  path
    fill color-primary-blue

.name
  box-sizing: border-box;
  padding: 0 6px

  width: 100%;

  color: color-white;
  font-family: Roboto;
  font-size: 14px;
  line-height: 46px

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.info
  box-sizing: border-box;
  line-height: 46px
  padding-right: 8px

.mark
  opacity: 0
  transition: opacity 0.15s ease-in-out

  path
    transition: fill 0.15s ease-in-out
    fill: color-text-heavy-blue

  .container:hover &
    opacity: 1

  .markHover &
    path
      fill: color-white


.preview
  position: absolute;
  box-sizing: border-box;

  left: calc(100% - 15px)
  top: 0
  width: 220px

  padding: 8px

  background-color: #383838
  border-radius: 5px;
  z-index: 2;

  &:after
    position: absolute
    content: ''
    top: 14px
    left: -13px
    border: 8px solid transparent
    border-right: 8px solid #383838


.previewContainer
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-white

  min-height: 135px

.img
  max-width: 100%;
  height: auto;
  width: auto;

  path
    fill: #1C2541;
