@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';


dragging()
  .dragging &
    {block}

.container
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  height: 46px

  background-color: color-primary-blue
  margin-bottom: 10px

  border-radius: 5px;

  cursor grab


.dragging
  visibility: hidden;
  transform: translate(0, 0);

.drag
  background-color: color-white;
  min-width: 35px
  line-height: 46px

  border-top-left-radius: 4px
  border-bottom-left-radius: 4px

  text-align: center;

  cursor: grab;

.dragIcon
  top: 3px
  position: relative;

  path
    fill color-primary-blue

.name
  box-sizing: border-box;
  padding: 0 6px

  width: 100%;

  color: color-white;
  font-family: Roboto;
  font-size: 14px;
  line-height: 46px

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.preview
  position: absolute;
  box-sizing: border-box;

  left: 100%
  top: 0

  padding: 15px

  width: 220px
  text-align: center;

  background-color: color-blue-background

  border-radius: 5px;
  border-top-left-radius: 0

  z-index: 2;

  &:before
    position: absolute;
    box-sizing: border-box;
    content: " "


    top: -2px
    left: -20px
    width: 20px
    height: 54px

    background-color: color-blue-background

.img
  max-width: 100%;
  height: auto;
  width: auto;

  path
    fill: color-white;
