@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.preview
  position: absolute;
  box-sizing: border-box;

  left: calc(100% - 15px)
  top: 0
  width: 220px

  padding: 8px

  background-color: color-white
  border-radius: 5px;
  z-index: 2;

  opacity: 0
  transition: opacity 0.15s ease-in-out

  box-shadow: heavy-shadow

  &:after
    position: absolute
    content: ''
    top: 14px
    left: -13px
    border: 8px solid transparent
    border-right: 8px solid color-white

.previewVisible
  opacity: 1

.previewContainer
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 135px

.img
  max-width: 100%;
  height: auto;
  width: auto;

  path
    fill: #1C2541;
