@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  padding: 0 20px;

.content
  margin-top: 30px

.emptyData
  color: color-text-dark
  font(body)
  text-align: center;
