@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  padding: 80px 30px 50px

  background-color: color-white

.title
  font(h1)
  text-align: center;

  color: color-text-dark;

.logo
  box-sizing: border-box;
  padding: 0 20px

  text-align: center;
  margin: 40px auto 0 auto;
  max-width: 600px

.img
  width: auto;
  height: auto;

  max-width: 100%

.description
  margin-top: 30px
  font(body, false, false, 1.5)

  color: color-text-dark;
