@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

.sidebar
  box-sizing: border-box;
  width: 245px
  min-width: 245px

  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

  background-color: color-light-blue
  border-right: 1px solid color-heavy-blue;

.title
  box-sizing: border-box;
  height: 75px

  font(h2-title, false, false, 75px)

  text-align: center;
  color: color-text-dark;

.i
  margin-left: 8px

.content
  box-sizing: border-box;
  flex-grow: 1
  padding: 15px 0
  background-color: color-white

.preview
  overflow-y: scroll;
