@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

.sidebar
  box-sizing: border-box;
  width: 245px
  min-width: 245px

  display: flex;
  flex-direction: column;

  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

  background-color: color-light-blue
  border-right: 1px solid color-heavy-blue;

.title
  box-sizing: border-box;
  height: 75px

  font(h2-title, false, false, 75px)

  text-align: center;
  color: color-text-dark;


.list
  flex-grow: 1
  position: relative;
  overflow-y: scroll;

.inner
  position: absolute;
  left: 0
  right: 0
  top: 0
  bottom: 0


.i
  margin-left: 8px

.content
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  flex-grow: 1
  background-color: color-white

.preview
  box-sizing: border-box;
  padding: 15px 0
  overflow-y: scroll;

  flex-grow: 1
