@import '~@expandorg/uikit/colors';

.inner
  position: relative;
  min-height: 15px

.dimmed
  opacity: 0.35

.edit
  position: absolute;

  left: 0
  right: 0
  top: 0
  bottom: 0

  cursor: pointer;

  z-index: 3



