@import '~@expandorg/uikit/colors';

.actions
  position absolute
  right: 0
  top: 0
  bottom: 0
  width: 16px

  display: none;
  flex-direction: column
  justify-content: center

  :global(.gem-outer):hover > &
    display: flex;

.nested
  width: 24px

.remove
.copy
.logic
  width: 38px
  height: 38px

  border: 1px solid color-heavy-blue
  border-radius: 20px

  padding: 0
  margin: 0 0 5px 0

  background-color: transparent;

  cursor: pointer;
  outline: 0

  path
    fill: color-primary-blue

  &:hover
    path
      fill: lighten(color-primary-blue, 10%)

