@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  height: 60px

  padding: 0 40px

  border-radius: 5px
  box-shadow: heavy-shadow

  min-width: 200px

.message
  font(h4-bold)

.success
  background-color: color-success
  color: color-white

.error
  background-color: color-yellow
  color: color-text-yellow-2
