@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.form
  display: flex
  flex-direction: column
  justify-content: space-between

  box-sizing: border-box
  padding-top: 64px
  padding-bottom: 80px

.description
  margin-bottom: 50px

.hero
  min-width 480px
  margin: 0 auto 30px
