@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.form
  display: flex
  flex-direction: column
  justify-content: space-between

  min-height: 'calc(100vh - %s)' % sz-navbar-height

  box-sizing: border-box

.description
  margin-bottom: 50px

