
@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px

.preview
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px
  padding: 60px 30px 30px

.title
  font(h1)
  text-align: center;

  color: color-text-dark;

.form
  margin-top: 10px
