@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px 0 30px
  height: 125px
  min-height: 125px
  width: 100%

  margin-top: 25px

  background-color: color-white
  border-radius: 5px
  box-shadow: light-shadow

  cursor: pointer;

.name
  color: color-text-dark
  font(h2-title)

.icon
  height: 42px
  width: 42px

  path
    fill: color-text-yellow

  &.checked
    path
      fill: color-teel-dark
