@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;

  display: flex;
  align-content: stretch;
  justify-content: center;

  background-color: color-light-blue
  border: 1px solid color-heavy-blue

.list
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px
