@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  position relative
  margin-left 5px
  margin-right 5px
  flex-grow: 1

.inner
  display flex
  justify-content: center;
  align-items: center;

.button
  box-sizing: border-box

  height 40px
  padding: 0 10px

  display flex
  justify-content: center
  align-items: center

  font(h4-bold, false, false)
  color: color-white

  background-color: transparent
  border: none
  outline: 0
  border: 0
  cursor pointer

.warning
  position relative
  top: -1px
  margin-right: 8px
  path
    fill color-white
