@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';
@import '~@expandorg/uikit/size';

.container
  box-sizing: border-box
  height: 'calc(100vh - %s - 60px)' % sz-navbar-height
  width: 100%
  padding: 20px 20px

  display: flex
  justify-content: center
  align-items: center

  @media(max-width: breakpoint-mobile-sm)
    height: 100%
    align-items: flex-start

.panel
  box-sizing: border-box
  width: 512px
  padding: 40px 40px
  margin-bottom: 60px

  @media(max-width: breakpoint-mobile-sm)
    width: 100%
