@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';
@import '~@expandorg/uikit/size';


.panel
  box-sizing: border-box
  width: 512px
  padding: 40px 30px
  margin-bottom: 60px
  box-shadow: none

  @media(max-width: breakpoint-mobile-sm)
    width: 100%

.error
  margin-top: 20px

.token
  position relative
  height: 35px

.input
  :global(.gem-input)
    padding-right: 60px

.generate
  width: 100%

.alert
  box-sizing: border-box
  margin-top: 30px

  padding: 15px 15px
  border-radius: 5px
  font(body)

  color: color-text-yellow-2
  background-color: #FEEEC0
  border: 1px solid color-yellow

.bold
  font-weight: 800

