@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;
  padding: 50px 100px
  max-width: 850px

  text-align: center;
  z-index: 3

.icon
  display: inline-block;
  width: 64px
  height: 64px

.warning
  path
    fill: color-text-yellow

.success
  path
    fill: color-teel-dark

.title
  margin-top: 40px

.confirmation
  box-sizing: border-box;
  margin-top: 15px
  font(body, false, false, 1)
  color: color-text-dark

