@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.overlay
  position: fixed;
  top 0
  left 0
  right 0
  bottom 0
  z-index: 2

  background-color: rgba(102, 167, 239, 0.9)
.modal
  box-shadow: dialog-shadow

.container
  box-sizing: border-box;
  padding: 50px 80px
  max-width: 850px

  text-align: center;

.icon
  display: inline-block;
  width: 64px
  height: 64px

  path
    fill: color-text-yellow

.title
  box-sizing: border-box;
  margin-top: 50px

  font(h1, false, false, 1)
  color: color-text-dark


.confirmation
  box-sizing: border-box;
  margin-top: 10px
  font(body, false, false, 1)
  color: color-text-dark

.actions
  display: flex;
  align-content: center;
  justify-content: center;

  margin-top: 50px

  > *
    margin: 0 7px

.button
  width: 200px
