@import 'components/common/uikit/layout'
@import 'components/common/uikit/colors'

.gem-page
  box-sizing: border-box;
  min-height: 100vh;

  &-content
    box-sizing: border-box;

    &-shifted
      width: calc(100% - 125px)
      margin-left: 125px;

.gem-content
  box-sizing: border-box;
  background-color: color-light-blue
  min-height: 100vh
