@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.textLogo
  display: block
  box-sizing: border-box;
  border-radius: 5px;

  min-height: 60px
  min-width: 60px

  display flex
  align-items: center
  justify-content: center

  color: color-teel-dark
  background-color: alpha(color-teel-dark, 0.25)
  border: 1px solid color-teel-dark

  font(h2-bold, false, false, 1)
  text-transform: uppercase

