@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.footer
  height 48px
  padding-bottom: 0

  background-color: rgba(229, 229, 229, 0.25);

  :global(.gem-footer-link)
    color: color-text-grey
