@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.form
  box-sizing: border-box;
  display: block
  margin: 0 auto;
  max-width: 900px;
  position relative

.readOnly
  &:after
    box-sizing: border-box
    z-index: 1
    content: " "

    position: absolute

    left: 0
    right: 0
    top: 0
    bottom: 0

.empty
  color: color-text-dark
  font(body)
  text-align: center;
