@import '~@gemsorg/uikit/colors'

.header
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start

  height: 150px
  padding-left: 80px

  box-shadow: 0px 4px 4px #DFEEFF;
  background-color: color-white;

.withLogo
  padding-left: 45px

.logo
  display: inline-block;
  height: 100%;
  width: 50px
  height: 50px

  margin-right: 60px

.nav
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1

.title
  font-family: 'Avenir';
  font-size: 36px
  line-height: 1
  font-weight: 400
