@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.header
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start

  height: 125px
  padding-left: 80px

  box-shadow: light-shadow;
  background-color: color-white;

.withLogo
  padding-left: 45px

.logo
  display: inline-block;
  height: 100%;
  width: 50px
  height: 50px

  margin-right: 60px

  &:hover
    path
      fill: darken(#FF7092, 10%)

.nav
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1

.title
  color: color-text-dark
  font(h1, false, false, 1)
