@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  margin-top: 50px;
  text-align: center;
  color: color-text-teel-large

.value
  font(oversized)

.title
  font(subtitle)
  color: color-text-grey
  text-transform: uppercase;
