@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;

  max-width: 500px

  border-radius: 5px
  border: 1px solid color-text-yellow

.icon
  box-sizing: border-box;

  padding: 20px 0
  text-align: center;

  path
    fill: color-text-yellow

.description
  box-sizing: border-box;
  padding: 20px 20px

  font(h4-bold)
  text-align: center;

  color: color-text-yellow-2
  background-color: color-text-yellow
