@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'
@import 'components/common/uikit/size'

.header
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start

  height: sz-navbar-height
  padding-left: 25px

  background-color: color-white;

.top
  position: fixed;
  top: 0
  left: 0
  right: 0

  box-shadow: light-shadow;

  z-index: 2

.logo
  display: inline-block;
  height: 100%;
  width: 50px
  height: 50px

  margin-right: 130px

  &:hover
    path
      fill: darken(#FF7092, 10%)

.nav
  height: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1

.title
  color: color-text-dark
  font(h1, false, false, 1)
