@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.gem-logout
  box-sizing: border-box;

  height: 40px
  padding: 0 25px
  margin-right: 40px

  font(subtitle, false, false, 38px)
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: color-text-blue
  background-color: color-white
  border: 1px solid color-heavy-blue

  border-radius: 2px;

  outline: none
  cursor: pointer;
