@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.content
  background-color: color-white


.container
  box-sizing: border-box
  min-height: 'calc(100vh - 48px - %s)' % sz-sidebar-height

