@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'
@import 'components/common/uikit/size'

.gem-sidebar
  position: fixed
  top: sz-navbar-height
  left: 0

  box-sizing: border-box;

  width: sz-sidebar-width
  height: 100vh

  background-color: color-blue-background
  z-index: 3

  &-link
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    height: 100px

    color: color-white;

    font(h4)

    text-decoration: none;

    border-left: 5px solid transparent
    border-right: 5px solid transparent

    outline: 0

    path
      fill: color-white

    &:hover
      border-left-color: color-primary-blue

    &-active
      background-color: color-primary-blue


    &-icon
      margin-bottom: 17px;
