@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'


.gem-sidebar
  position: fixed
  top: 0
  left: 0

  box-sizing: border-box;

  width: 125px
  height: 100vh

  background-color: color-blue-background
  z-index: 2

  &-logo
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    &:hover
      path
        fill: darken(#FF7092, 5%)

  &-nav
    &-link
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      box-sizing: border-box;
      height: 100px

      color: color-white;

      font(h4)

      text-decoration: none;

      border-left: 5px solid transparent
      border-right: 5px solid transparent

      outline: 0

      path
        fill: color-white

      &:hover
        border-left-color: color-primary-blue

      &-active
        background-color: color-primary-blue


      &-icon
        margin-bottom: 17px;
