@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.tx
  box-sizing: border-box;

  margin: 15px
  font(body, 800)
  color: color-text-grey

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
