@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.metamask
  margin-top: 30px

.assign
  display: flex
  align-items: center

  box-sizing: border-box;

  width: 100%
  height: 72px
  line-height: 72px

  font(h3-title)
  color: color-text-dark
  background-color: color-light-blue
  border: 1px solid color-medium-blue

  cursor: pointer
  outline: 0;

  &:hover
    lighten(color-light-blue, 20%)

.fox
  width: 40px
  height: 40px
  margin-right: 18px
  margin-left: 15px

  background-position:center
  background-size: contain
  background-repeat: no-repeat
  background-origin: border-box
  background-image: url(../../assets/fox.svg)
