@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  margin-top: 40px
  box-sizing: border-box
  padding: 15px 16px

  background-color: color-white
  border-bottom: 1px solid color-primary-blue

.header
  display flex
  justify-content: space-between
  align-items: center
  cursor: pointer

.title
  font(h3-bold)

.toggle
  position relative
  width: 24px
  height: 24px
  font(body, 800, 20px, 1)

  &:before
  &:after
    position absolute
    content: " "
    background-color: color-primary-blue

  &:before
    width: 2px
    height 14px
    left: 11px
    top: 5px

  &:after
    width: 14px
    height 2px
    left: 5px
    top: 11px

.visible
  &:before
    display none

.tabs
  margin-top: 40px
  display: flex
  justify-content: space-between


.tab
  box-sizing: border-box
  padding: 0

  height 50px
  width: 100%
  flex-grow: 1

  background-color: transparent

  font(h4)
  border: 1px solid  color-heavy-blue
  background-color: color-light-blue

  outline: 0
  cursor pointer

  &:first-child
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    border-right: 0

  &:last-child
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

.tabActive
  font-weight: 800
  background-color: color-white

.form
  box-sizing: border-box
  margin-top: 24px

  border: 1px solid color-heavy-blue
  border-radius: 5px

.fields
  box-sizing: border-box
  background-color: color-blue-background
  padding: 10px 24px 40px 24px

  border-top-left-radius: 5px
  border-top-right-radius: 5px

.field
  margin-top: 30px
  display flex
  align-items: center

.total
  box-sizing: border-box

  color: color-text-dark
  background-color: color-white
  font(h1, false, false, 76px)
  text-align: center

  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px

.x
  box-sizing: border-box
  padding-right: 20px
  font(subtitle-bold, 800)
  color: color-white

.input
  :global(.gem-input)
    color: color-white
    border-bottom-color: color-white

    &:focus,
    &:active,
    &:global(.gem-input-filled)
      & + :global(.gem-input-label:before)
        color: color-white

  :global(.gem-input-label:before)
    color: color-white

.subtotal
  font(subtitle-bold)
  color: color-white
  min-width: 100px
  text-align: right
  white-space nowrap

.vlong
  width: 180px
  max-width: 180px
  margin-right: 20px

.vshort
  width: 105px
  max-width: 105px
  margin-right: 20px

.disabled
  opacity 0.6
