@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.value
  margin-top: 24px
  box-sizing: border-box
  text-align: center

  font(body, 800, false, 50px)
  color: #694C00
  background-color: #FEEEC0
  border: 1px solid #FBBC05;

