
.container
  box-sizing: border-box;
  padding: 0 20px;


.inner
  margin: 0 auto
  max-width: 900px

.header
  position: relative;

.preview
  position: absolute;
  right: 0
  top: calc(50% - 30px)

.desc
  padding: 0 200px
