@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;
  width: 241px
  min-width: 241px

  padding: 20px 25px

  background-color: color-teel-dark
  border-right: 1px solid color-white
  border-bottom: 1px solid color-heavy-blue

  &:last-child
    border-right: none;

.skipped
  background-color: color-white
  border-right-color: color-heavy-blue

.header
  position relative
  text-align: center

  font(h3-bold)
  color: color-white

  .skipped &
    color: color-text-grey

.name
  box-sizing: border-boxp
  padding: 0 15px
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


.edit
  position absolute
  right: 0
  top 0

  box-sizing: border-box
  padding: 0

  background-color: transparent
  border: 0

  outline: none
  cursor pointer

  path
    fill color-white

.content
  box-sizing: border-box
  display flex
  flex-direction: column
  justify-content: center

  height 60px

.warning
  font(body)
  color: color-text-pink
  text-align: center

.variable
  color: color-white
  font(body)
  text-align: center

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.actions
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center

  height 40px

.button
  box-sizing: border-box
  height 40px
  width: 100%

  color: color-white
  border-radius: 2px

  font(subtitle, 800, false, 38px)
  text-transform: uppercase

  outline: 0
  cursor pointer

.skip
  background-color: transparent
  border: 1px solid color-white
  margin-right: 5px

.save
  background-color: color-blue-background
  border: 1px solid color-blue-background
  margin-left: 5px

.input
  position relative

.dropdown
  top: calc(100% - 2px)
  left: 0
  right auto

.varsToggle
  position relative
  box-sizing: border-box
  width: 100%

  padding: 0 0 10px 0
  margin: 0 0

  font(body, false, false, 1)
  text-align: left

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: color-white
  background-color: transparent

  border: none
  border-bottom: 1px solid color-white

  outline: none
  cursor pointer

.arrow
  position absolute
  right: 0
  top: calc(50% - 8px)

  path
    fill color-white

