@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;
  width: 241px
  min-width: 241px

  padding: 20px 15px

  border-right: 1px solid color-heavy-blue
  border-bottom: 1px solid color-heavy-blue

  &:last-child
    border-right: none;

.skipped
  background-color: #FEEEC0

.assigned
  background-color: #E1F2EF

.header
  position relative
  text-align: center

  font(h3-bold)
  color: color-text-dark

  .skipped &
    color: color-text-yellow-2

  .assigned &
    color: color-text-teel-strong

.name
  box-sizing: border-box
  padding: 0 15px
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

.content
  box-sizing: border-box
  display flex
  flex-direction: column
  justify-content: center

  height 60px

.variable
  font(small-text)
  color: color-text-yellow-2
  text-align: center

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


.warning
  font(small-text)
  color: color-text-yellow-2
  text-align: center

.actions
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center

.button
  box-sizing: border-box

  height 40px
  width: 86px

  font(subtitle, 800, false, 38px)
  text-transform: uppercase
  background-color: transparent

  border-radius: 2px
  margin-right: 10px

  outline: 0
  cursor pointer

  &:last-child
    margin-right: 0


.edit
  border: 1px solid color-heavy-blue
  background-color: color-medium-blue
  color: color-text-blue

  .assigned &
    color: color-white
    background-color: color-teel-strong
    border-color: color-teel-strong

.skip
  border: 1px solid color-heavy-blue
  color: color-primary-blue

  .skipped &
    border-color: color-text-yellow
    background-color: color-text-yellow
    color: color-text-yellow-2

  .assigned &
    color: color-text-teel-strong
    border-color: color-text-teel-strong

.save
  border: 1px solid color-heavy-blue
  background-color: color-medium-blue
  color: color-text-blue


.input
  position relative

.dropdown
  top: calc(100% - 2px)
  left: 0
  right auto

.varsToggle
  position relative
  box-sizing: border-box
  width: calc(100% - 30px)

  padding: 0 0 10px 0
  margin: 0 15px

  font(body, false, false, 1)
  text-align: left

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: color-text-gray
  background-color: transparent

  border: none
  border-bottom: 1px solid color-heavy-blue

  outline: none
  cursor pointer

.arrow
  position absolute
  right: 0
  top: calc(50% - 8px)

  path
    fill color-heavy-blue

