@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  margin-top: 36px

.error
  margin-top: 8px

.input
  margin-top: 5px

.dropdown
  margin-top: 5px

.button
  width: 100%

.warning
  box-sizing: border-box

  padding: 20px 30px
  border-radius: 5px

  margin-bottom: 30px

  font(h4-bold, false, false, 1)
  border: 1px solid color-text-yellow;
  color: color-text-yellow-2
  background-color: rgba(251, 188, 5, 0.15);
