@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  margin-top: 36px

.error
  margin-top: 8px

.input
  margin-top: 5px
  padding-right: 42px

.dropdown
  margin-top: 5px
