@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.deposit
  margin-top: 13px

  box-sizing: border-box;

  height: 40px
  width: 100%

  font(subtitle, false, false, 38px)
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: color-text-blue
  background-color: color-light-blue

  border: 1px solid color-heavy-blue
  border-radius: 2px

  outline: none;
  cursor: pointer;

  &:hover
    background-color: darken(color-light-blue, 2%)

.warning
  margin-top: 37px;
  max-width: 100%

.zero
  color: color-text-yellow
