@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.deposit
  margin-top: 13px

  height: 40px
  width: 100%

.hero
  margin-top 0

.warning
  margin-top: 37px;
  max-width: 100%

.zero
  color: color-text-yellow
