
@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 250px)
