
@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 250px)

.new
  display: flex;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
  text-decoration: none;

  margin-bottom: 100px

.plus
  font(oversized, false, false, 120px)
  color: color-text-heavy-blue

.create
  font(subtitle)
  color: color-text-heavy-blue
  text-align: center;
  text-transform: uppercase;
