@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  position: relative;

  width: 250px
  height: 250px

  margin-right: 50px
  margin-bottom: 50px

  border-radius: 5px
  text-decoration: none;

.new
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: color-pink
  color: color-white

  transition: box-shadow 100ms ease-in;
  box-shadow: light-shadow

  &:hover
    box-shadow: heavy-shadow

.plus
  font(oversized, false, false, 120px)

  margin-top: 43px

  color: color-pink-light

  transition: color 100ms ease-in;

  .new:hover &
    color: color-white;

.create
  font(subtitle)
  text-align: center;
  text-transform: uppercase;

.task
  padding: 21px 17px 50px 17px

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: color-white;
  border-radius: 5px;
  box-shadow: light-shadow
  color: color-text-dark

  transition: box-shadow 100ms ease-in;

  &:hover
    box-shadow: heavy-shadow

.copy
  width: 100%;
  display: flex;
  justify-content: flex-end;

.copyBtn
  outline: none
  position relative
  background-color: transparent;
  cursor: pointer;

  path
    fill: #CCCCCC

  &:hover
    path
      fill: darken(#CCCCCC, 20%)

.logo
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1

.img
  width: 60px
  height: 60px

.title
  font(h3-title)

.state
  font(subtitle)
  text-transform: uppercase;
  color: color-text-dark

  margin-top: 7px
