@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  position: relative;

  background-color: color-light-blue
  border: 1px solid color-heavy-blue

  margin-top: 50px
  min-height: 350px

.list
  box-sizing: border-box;
  padding: 40px 0

  width: 450px
  margin: 0 auto;
