@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.outer
  box-sizing: border-box;
  position: relative;

  padding-right: 30px

.container
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px 0 30px
  height: 125px
  min-height: 125px
  width: 100%

  margin-top: 25px

  background-color: color-white
  border-radius: 5px
  box-shadow: light-shadow

  cursor: pointer;

  transition: box-shadow 100ms ease-in;

  &:hover
    box-shadow: heavy-shadow;


.name
  color: color-text-dark
  font(h2-title)

.icon
  height: 42px
  width: 42px

  path
    fill: color-text-yellow

  &.checked
    path
      fill: color-teel-dark

.dragging
  visibility: hidden;

.remove
  box-sizing: border-box;
  position: absolute;
  display: none;

  right: 0
  top: calc(50% - 8px)

  width: 16px
  height: 16px

  padding: 0
  margin: 0

  background-color: transparent;

  cursor: pointer;
  outline: 0

  path
    fill: color-text-disabled

  .outer:hover &
    display: block;
