@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  position: relative;

  background-color: color-light-blue
  border: 1px solid color-heavy-blue

  max-height: calc(100vh - 390px)
  overflow-y: scroll;

.list
  box-sizing: border-box;
  padding: 40px 0

  width: 420px
  margin: 0 auto;
