@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.scroll
  padding: 0 40px

.addCell
  border: 0
  background-color: color-white
  border: 1px dashed color-heavy-blue

.btn
  box-sizing: border-box
  padding: 0 10px
  width: 100%

  display flex
  align-items: center
  justify-content: center

  text-transform: uppercase
  font(subtitle, 800)

  color: color-text-blue
  background-color: transparent
  outline: none
  cursor pointer

.col
  flex-direction: column
  min-height: 160px
  min-width: 160px

  .plus
    margin-bottom: 7px

.row
  height 50px

  .plus
    margin-right: 8px

.plus
  font-size: 20px

.leftCell
  background: color-white
  border: 0
  width: auto
  height auto

.removeBtn
  margin-right: 25px
  box-sizing: border-box
  padding: 0
  width: 24px
  height: 24px

  background-color: transparent
  outline: none
  cursor: pointer
