@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box

  margin-bottom: 16px
  min-height: 30px
  height: 30px

.dd
  margin: 0 15px

.add
  box-sizing: border-box

  width: 30px
  height 30px

  margin-left: 16px

  border: none
  border-radius: 15px

  font(body, false, false, 28px)
  color: color-light-blue
  background-color: color-primary-blue

  outline: 0
  cursor pointer

  &:hover
    background-color: lighten(color-primary-blue, 10%)
