
.overlay
  z-index 4

.container
  padding-left: 65px
  padding-right: 65px

.fieldset
  box-sizing: border-box
  text-align: left
  margin-top 50px

  min-height: 105px

.btn
  width: 100%

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.field
  :global(.gem-tooltip-position-right)
    right: -10px
