@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px

.columns
  display: flex;
  justify-content: space-between;

.info
  margin-top: 20px

.logo
  margin-top: 15px

  display: flex;
  justify-content: center;
  align-items: center;

.img
  box-sizing: border-box;

  width: 100px
  height: 100px

  border-radius: 5px
  box-shadow: light-shadow

.filed
  margin-top: 10px

  &:first-child
    margin-top: 0

.name
  font(h4-bold)
  color: color-text-dark

.value
  font(small-text)
  color: color-text-dark

.title
  font(h3-bold)
  color: color-text-dark

.description
  margin-top: 10px

  font(body)
  color: color-text-dark
