.form
  padding-left: 0
  padding-right: 0

.description
  margin-bottom: 50px

.actions
  position relative
  padding-left: 15px
  padding-right: 15px

.picker
  position: absolute;
  right: 15px
  bottom: 0
