@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  min-width: 510px

.condition
  box-sizing: border-box
  padding-bottom: 10px
  padding-top: 10px

  font(body, false, false, 22px)

  border-bottom: 1px solid color-grey-background

  > *
    margin-right: 5px

.param
.value
  font-weight: 800
