@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  height: 100%;
  margin-left: 92px;

  background-color: color-blue-background

  flex-grow: 1

.item
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font(h4)
  width: 150px

  background-color: color-blue-background
  color: color-white

  outline: 0
  cursor: pointer;

.disabled
  cursor: default;
  opacity: 0.25

.active
  background-color: color-primary-blue

  .status
    path
      fill: color-white
