@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  position relative

.add
  box-sizing: border-box
  width: 50px
  height: 50px

  font(body, false, 30px, 48px)
  color: color-text-dark
  background-color: color-white

  border: 1px solid color-heavy-blue

  outline: 0
  cursor pointer

  border-bottom-left-radius: 5px

  &:hover
    border-bottom: 3px solid color-primary-blue

.menu
  left: 0
  right: auto
  overflow-y: visible
  max-height: auto

.header
  display: flex
  align-items: center

  box-sizing: border-box
  padding-left: 25px
  height 70px

  font(subtitle, 800)
  text-transform: uppercase
  color: color-text-dark


.list
  max-height: 300px
  overflow-y: auto

.pin
  top: 40px
  left: 5px
