
.container
  box-sizing: border-box;
  margin: 0 122px;

.header
  position: relative;

.preview
  position: absolute;
  right: 0
  top: calc(50% - 30px)

.desc
  padding: 0 200px

.steps
  margin-top: 50px
  min-height: 350px
