@import 'components/common/uikit/colors';

.container
  box-sizing: border-box;
  margin: 0 122px;

.templates
  box-sizing: border-box;
  border: 1px solid color-heavy-blue;
  border-radius: 5px

  margin-top: 50px
  height: calc(100vh - 390px)
  min-height: 300px
