@import 'components/common/uikit/colors'

.upload
  box-sizing: border-box;
  height: 300px

.placeholder
  box-sizing: border-box;
  text-align: center;
  font-family: 'Avenir';


.image
  margin-bottom: 18px

  path
    fill: #8CBBEE

.or
  margin-bottom: 22px
  color: #1C2541;
  font-size: 16px;


.button
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  color: color-black
  background-color: color-white;

  font-size: 11px;
  font-weight: 800
  text-transform: uppercase;

  width: 240px;
  height: 60px;

  border: 1px solid #2F80ED;
  border-radius: 5px

.api
  color: #34A853;
  background-color: rgba(112, 255, 151, 0.5);
  border: 1px solid #34A853

  &:hover
    background-color: rgba(112, 255, 151, 0.7);
