@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;
  position relative

  display flex
  align-items: center
  justify-content: center

  height: 60px;

  background: color-white;
  box-shadow: light-shadow

  border-radius: 5px;

.name
  font(subtitle)
  color: color-text-dark;
  text-transform: uppercase

.tooltip
  position absolute
  left: -12px
  top: calc(50% - 12px)

  width: 24px
  height: 24px

  path
    fill: color-yellow

 :global(.gem-tooltip)
    box-sizing: border-box;
    padding: 16px 20px
    color: color-blue-background
    background-color: color-white
    box-shadow: heavy-shadow
    font(h4-bold)
    letter-spacing: 0

    &:after
      border-right-color: color-white
