@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.actions
  margin-top: 15px

.add
  box-sizing: border-box;

  width: 160px
  height: 40px
  font(subtitle, false, false, 38px)
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  color: color-text-blue
  border: 1px solid color-heavy-blue
  border-radius: 2px

  outline: none;
  cursor: pointer;
