@import '~@expandorg/uikit/colors';

.container
  box-sizing: border-box;

  padding: 0 20px 20px

  background: color-white;
  box-shadow: light-shadow

  border-radius: 5px;

.selected
  box-shadow: heavy-shadow

