@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.container
  box-sizing: border-box;

  padding: 0 20px 20px

  background: color-white;
  box-shadow: light-shadow

  border-radius: 5px;

  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

  &:hover
    box-shadow: 0px 10px 15px #CCE3FD;

.selected
  box-shadow: heavy-shadow
  transform: translateX(0)

  &:hover
    box-shadow: heavy-shadow

  @media(max-width: 1440px)
    transform: translateX(-210px)

