@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  position relative
  display: flex
  align-items: center
  justify-content: center

.toggle
  background-color: transparent
  padding: 0 5px
  margin-right 5px

  cursor pointer
  outline none

  path
    fill color-text-heavy-blue

.menu
  right: auto
  left: 0
