@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  margin-top: 40px;

.label
  display: flex;
  align-items: center;
  justify-content: space-between;

  font(body)
  color: color-text-dark;

.dropzone
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  margin-top: 10px;

  height: 140px;
  width: 100%

  background-color: color-light-blue
  border-radius: 5px;
  border: 2px dashed color-heavy-blue;

  cursor: pointer;

.preview
  display: block;

  width: auto;
  height: auto;

  max-width: 100px
  max-height: 100px
