@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  margin-top: 40px;
  position relative

.label
  display: flex;
  align-items: center;
  justify-content: space-between;

  font(body)
  color: color-text-dark;
