@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  position relative

.more
  outline: none
  background-color: transparent;
  cursor: pointer;

  height: 15x
  width: 20px

  path
    fill: color-heavy-blue

  &:hover
    path
      fill: darken(color-heavy-blue, 15%)
