@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.form
  box-sizing: border-box;
  min-height: calc(100vh - 230px);
  margin: 0 auto;
  max-width: 800px;

.heading
  font-size: 32px;
  font-weight: 500
  color: color-text-1
  text-align: center;

  margin-top: 40px

.description
  box-sizing: border-box;

  margin-top: 40px;

  text-align: center;

  font(font-preset[subheader])
  color: #939393

.actions
  margin-top: 50px
  display: flex;
  justify-content: center;

.start
  padding: 0 70px

.back
  border: none;
  margin-right: 10px
