@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  min-width: 660px;

.heading
  font(h1)
  letter-spacing: -0.3px
  text-align: center;
  margin-bottom: 10px

.actions
  padding: 20px 0 40px
  display: flex;
  align-items: center;
  justify-content: center;

.reassign
  font(h2-title)
  letter-spacing: -0.3px
  text-align: center;

.browse
  font(h2-title)
  margin-right: 20px
