@import '~@gemsorg/uikit/colors'
@import '~@gemsorg/uikit/font'
@import '~@gemsorg/uikit/consts'

.container
  min-width: 660px;

.heading
  font(font-preset[title])
  letter-spacing: -0.3px
  color: color-text-1
  text-align: center;
  margin-bottom: s-margin-medium

.actions
  padding: 20px 0 40px
  display: flex;
  align-items: center;
  justify-content: center;

.reassign
  font(font-preset[subheader])
  letter-spacing: -0.3px
  color: color-text-1
  text-align: center;

.browse
  font(font-preset[subheader])
  margin-right: 20px
