@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.outer
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box

  min-height: 'calc(100vh - %s)' % sz-navbar-height
  padding: 25px 15px 20px

.container
  box-sizing: border-box;
  margin: 0 122px;

.templates
  box-sizing: border-box;
  margin-top: 50px
  height: calc(100vh - 290px)

  border: 1px solid color-heavy-blue;
  border-radius: 5px
