@import '~@expandorg/uikit/colors';

.outer
  composes: form from '../Form/styles.module.styl'

.container
  box-sizing: border-box;
  margin: 0 122px;

.templates
  box-sizing: border-box;

  margin-top: 50px
  min-height: calc(100vh - 390px)

  border: 1px solid color-heavy-blue;
  border-radius: 5px
