@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  padding: 18px 15px 20px
  box-sizing: border-box

  border-bottom-left-radius: 8px
  border-bottom-right-radius: 8px

  &:hover
    background: linear-gradient(color-medium-blue, color-white, color-white, color-white);

.header
  display: flex
  align-items: center
  height: 40px

.logo
  margin-right: 18px

.title
  font(h3-title)
  color: color-text-dark

.form
  box-sizing: border-box
  padding: 10px 5px 0

.error
  margin-top: 10px

.input
  margin-top: 20px

  font-size: 18px
  border-radius: 4px

.submit
  width: 100%
  margin-top: 20px

  background: color-medium-blue
  color: color-text-blue
  border: 1px solid color-heavy-blue

  &:hover
    background: darken(color-medium-blue, 2%)

.submit
.toggle
  height: 40px

  font(body-bold, false, 15px, false)
  letter-spacing: 0.15em;

.forgot
  display: block
  margin-top: 18px

  text-align: right

  font: body
  color: color-text-grey
  background-color: transparent
  text-decoration: none

  outline: none
  cursor: pointer

.toggle
  position: absolute
  top: 30px
  right: 30px

  width: 117px

  background-color: color-white
  color: color-text-blue
  border-radius: 0
  text-transform: uppercase

  &:hover
    color: lighten(color-text-blue, 2%)
    background: color-white

.signUpSubmit
  margin-top: 58px
