@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  padding-top: 13px;


.title
  font(font-preset[caption], 400)
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: color-text-1

.form
  box-sizing: border-box;
  padding-top: 5px;

.error
  margin-top: 10px;

.input
  height: 57px
  font-size: 18px
  border-radius: 4px;
  margin-top: 8px

.submit
  width: 100%
  margin-top: 24px;

.footer
  display: flex;
  flex-direction: column;
  align-items: center;

.forgot
  text-align: center;
  font(font-preset[normal])
  letter-spacing: -0.2px;
  color: color-text-1
  background-color: transparent;
  margin-top: 13px;

  outline: none
  cursor: pointer;

.toggle
  margin-top: 23px;
  font(font-preset[normal])
  letter-spacing: -0.2px;
  background-color: transparent;
  color: color-pink
  outline: none
  cursor: pointer;
