@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.scroll
  margin-top: 20px

.spacer
  border-color: transparent

.cellAdd
  border-color: transparent
  text-align: center
  padding: 0

.cellDelete
  text-align: center
  padding: 0

.add
.delete
  box-sizing: border-box
  margin:  0
  padding: 2px 2px

  background: transparent

  outline: none
  cursor pointer

.add
  font-size: 25px
  font-weight: 600
  color: color-blue-background

.delete
  font-size: 18px
  font-weight: 800
  color: color-text-disabled
