@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.var
  box-sizing: border-box
  height 60px
  width: 240px
  min-width: 240px
  max-width: 240px
  padding-left: 20px

.value
  box-sizing: border-box

  width: 240px
  min-width: 240px
  max-width: 240px

.spacer
  border-color: transparent

.cellAdd
  border-color: transparent
  text-align: center
  padding: 0

.cellDelete
  text-align: center
  padding: 0

.add
.delete
  box-sizing: border-box
  margin:  0
  padding: 2px 2px

  background: transparent

  outline: none
  cursor pointer


.add
  font-size: 25px
  font-weight: 600
  color: color-blue-background

.delete
  font-size: 18px
  font-weight: 800
  color: color-text-disabled

.input
  box-sizing: content-box


  width: 100%;
  padding: 0 0

  color: color-text-dark
  background-color: transparent

  outline: none;
  resize: none;

.inputVar
  height: 58px;
  font(h3-bold, false, false, normal)

.inputVal
  height: 50px;
  font(body, false, false, normal)
