@import 'components/common/uikit/colors';

.container
  box-sizing: border-box;
  position: relative;

  padding: 10px 10px

  background: color-white;
  box-shadow: light-shadow

  border-radius: 5px;

.edit
  position: absolute;

  left: 0
  right: 0
  top: 0
  bottom: 0

  cursor: pointer;
