@import '~@expandorg/uikit/colors';

.container
  height calc(100vh - 66px)

.sidebar
  height calc(100vh - 66px)

.content
  height calc(100vh - 66px)


.serachPin
  top: 15px
  left: 245px

.componentsPin
  top: 50%
  left: 245px
