@import '~@expandorg/uikit/colors';

.modal
  position: absolute;
  top 40px
  bottom 40px
  left 40px
  right 40px

  border-radius: 5px;
  outline: none

  @media(max-width: 900px)
    top 0
    left 0
    right 0
    bottom 0

    border-radius: 0
    width: 100%
    box-shadow: none
