.container
  display: flex
  flex-direction: column
  height 100%

.content
  box-sizing: border-box
  padding-top: 30px
  flex-grow: 1
  max-height: calc(100% - 165px)
  overflow: auto

.formInner
  box-sizing: border-box
  padding: 20px 20px 10px

.actions
  display: flex
  align-items: center
  justify-content: flex-end

  box-sizing: border-box
  padding: 15px 15px

  > *
    margin-left: 15px
    font-size: 14px
