@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.modal
  position: absolute;
  top 60px
  bottom 60px
  left 60px
  right 60px

  background-color: color-light-blue


.overlay
  z-index 4
