@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.upload
  box-sizing: border-box;
  height: 400px
  background-color: color-white

.placeholder
  box-sizing: border-box;
  text-align: center;

.image
  margin-top: 50px
  margin-bottom: 18px

  path
    fill: color-heavy-blue

.or
  margin-bottom: 22px
  color: color-text-dark;
  font(body)

.button
  box-sizing: border-box;
  margin: 0 auto

  display: flex;
  align-items: center;
  justify-content: center;

  color: color-text-blue
  background-color: color-white;

  font(subtitle)
  text-transform: uppercase;

  width: 140px;
  height: 60px;

  border: 1px solid color-heavy-blue;
  border-radius: 5px

  &:hover
    color: lighten(color-text-blue, 20%)
    border-color: lighten(color-heavy-blue, 30%)

.banner
  box-sizing: border-box

  margin: 47px 0 0
  padding: 0 30px

  font(subtitle, false, false, 48px)
  text-transform: uppercase
  text-align: center

  width: 100%

  color: color-text-blue
  background-color: color-medium-blue
  border: 1px solid color-heavy-blue
  border-radius: 2px

  outline: 0
  cursor pointer

.progress
  :global(.gem-uploadprogress-indicator--fetching)
    background-color: color-primary-blue
