@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.description
  max-width: 410px
  text-align: left;

.text
  margin-top: 10px
  font(body)
  color: color-text-dark

.balance
  color:color-text-grey
  font-weight: 800;
  margin: 0 5px
