@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.error
  position: absolute;
  top: calc(100% + 10px)
  left: 0
  right: 0

.icon
  display: inline-block;
  margin-bottom: 25px
  path
    fill: color-text-yellow
