@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;

  height: 100%

.content
  display: flex;
  position: relative;

  box-sizing: border-box;

  justify-content: flex-start;

  flex-grow: 1
