@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;

  height: 100%

.content
  display: flex;
  position: relative;

  box-sizing: border-box;

  justify-content: flex-start;

  flex-grow: 1

.form
  flex-grow: 1

.spacer
  width: 0
  min-width: 0
  transition: width 300ms ease-in-out, min-width 300ms ease-in-out

  &.expanded
    width: 540px
    min-width: 540px
