@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.navbar
  background-color: color-blue-background
  height sz-navbar-height
  box-shadow: none

  :global(.gem-navbar-content)
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: flex-end;
