@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;

.btn
  position: relative;

  box-sizing: border-box;
  margin: 0 7px
  padding: 0

  outline: 0
  cursor: pointer;

  path
    stroke: color-text-heavy-blue

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

  &:hover
    path
      stroke: color-text-blue

.active
  path
    stroke: color-text-blue
    stroke-width: 2
