@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  margin-top: 36px

.error
  margin-top: 8px

.input
  margin-top: 5px

.select
  box-sizing: border-box
  position relative

  width: 100%
  padding-bottom 10px

  font(body)
  color: color-text-dark
  border-bottom: 1px solid color-heavy-blue

  transition: all 0.2s ease-out;

  &:after
    position: absolute
    content: ''
    right: 0
    top: calc(50% - 8px)
    width: 12px
    height: 16px
    background-color: transparent;
    background-position: center;
    background-origin: border-box
    background-repeat: no-repeat
    background-image: url(../../../../../assets/arrow-down.svg)

.selectLabel
  transition-property: transform font-size font-weight color;
  color: color-text-dark
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transform-origin: left center;
  white-space: nowrap;

.selectVal
  color: color-blue-background
  border-bottom-color: color-primary-blue

  .selectLabel
    position: absolute;
    top: -15px
    padding: 0
    pointer-events: none;
    font-size: 11px
    font-weight: 800
    color: color-primary-blue
