@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  box-sizing: border-box;

  height: 100%

.content
  display: flex;
  position: relative;

  box-sizing: border-box;

  justify-content: flex-start;

  flex-grow: 1


.form
  padding-top: 30px
  flex-grow: 1

.actions
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  padding: 0 20px

  height: 80px
  min-height: 80px

  background-color: color-white

.title
  font(h2-title)
  color: color-text-dark

.btn
  height: 40px
  width: 130px

  margin-left: 20px

  &:first-child
    margin-left: 0
