@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.toggle
  display: flex
  justify-content: center
  align-items: center

  width: 40px
  height: 40px

  box-sizing: border-box;

  border: 1px solid color-grey-background
  border-radius: 2px

  outline: none;
  cursor: pointer

.enabled
  background: color-blue-background
  border-color: color-blue-background

  path
    fill: color-white
