@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';

.modal
  position: absolute;
  top 0
  bottom 0
  left 0
  right 0

  box-shadow: none

  border-radius: 0
  width: 100%
  outline: none



.container
  box-sizing: border-box
  height 100vh
