@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/size';
@import '~@expandorg/uikit/font';


.container
  box-sizing: border-box;
  height 100vh
  display flex

.content
  box-sizing: border-box;
  flex-grow: 1

  background-color: #F3F9FF

  display: flex
  flex-direction: column
  justify-content: space-between

.preview
  box-sizing: border-box

  padding: 16px 16px

  flex-grow: 1
  overflow-y: scroll
  max-height: calc(100vh - 80px)

.form
  margin-top: 50px

.panel
  box-sizing: border-box
  background-color: color-white
  display: flex
  justify-content: space-between
  align-items: center

  height 80px
  padding: 0 20px

.top
  box-sizing: border-box

  font(h2-title, false, false, 1)
  text-align: center
  padding: 47px 10px 0


.create
  padding: 0 15px

.hide
  margin-right 15px
