@import '~@expandorg/uikit/size'
@import '~@expandorg/uikit/colors'

.list
  margin: 0 auto 0 auto;
  padding-left: 80px

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

.navs
  padding: 50px 0
