@import '~@expandorg/uikit/size'
@import '~@expandorg/uikit/colors'

.list
  margin: 0 auto 0 auto;
  padding-left: 80px

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


.navs
  padding: 50px 0

  :global(.gem-listnav-link)
    &:hover
      background-color: lighten(color-light-blue, 20%)

    &:last-child
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
    &:first-child
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px

  :global(.gem-listnav-link-active)
    &:hover
      background-color: color-white

  @media(max-width: breakpoint-mobile-sm)
    padding: 0 0
