@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.nav
  box-sizing: border-box;
  padding-top: 50px
  padding-bottom: 50px

  display: flex;
  align-items: center;
  justify-content: center;

.link
  box-sizing: border-box;
  padding: 0 34px

  font(h4, false, false, 36px)
  text-decoration: none;

  color: color-text-grey

.active
  color: color-white
  background-color: color-primary-blue;
  border-radius: 5px;
