@import '~@gemsorg/components/src/uikit/colors'

.nav
  display: flex;
  align-items: center;
  justify-content: flex-start;

.link
  box-sizing: border-box;


  padding: 0 34px
  line-height: 36px

  font-family: 'Avenir';
  font-size: 16px
  text-decoration: none;

  color: #1C2541

.active
  color: color-white
  background-color: #2F80ED;
  border-radius: 5px;
