@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.nav
  display: flex;
  align-items: center;
  justify-content: flex-start;

.link
  box-sizing: border-box;
  padding: 0 34px

  font(h4, false, false, 36px)
  text-decoration: none;

  color: color-text-dark

.active
  color: color-white
  background-color: color-primary-blue;
  border-radius: 5px;
