@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';
@import '~@expandorg/uikit/size';


.btn
  height: 40px
  width: 130px

  margin-left: 20px

  &:first-child
    margin-left: 0

.buttons
  display: flex;
  align-items: center

  position: relative


.previewContainer
  position: relative

.previewPin
.togglePin
  top: -62px
  left: 0

.previewPin
  left: calc(50% - 20px)


.toggle
  display: flex
  justify-content: center
  align-items: center

  width: 40px
  height: 40px

  box-sizing: border-box;

  border: 1px solid color-grey-background
  border-radius: 2px

  outline: none;
  cursor: pointer

.enabled
  background: color-blue-background
  border-color: color-blue-background

  path
    fill: color-white
