
.container
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px

.header
  height 50px

.paging
  margin-top 30px

.cell
  text-align: center
  padding: 0 5px

.valueCell
  overflow: auto

.value
  white-space: nowrap;
