@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box;
  padding: 100px 10px 50px 10px
  margin: 0 auto;
  max-width: 920px

.content
  background-color: color-white;

.info
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

.stats
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px

  > *
    margin-left: 110px

.details
  font(body)
  color: color-text-dark

.hero
  color: color-text-dark

