@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box;
  padding: 50px 0px 50px 0px
  margin: 0 auto;
  max-width: 1000px

.info
  display: flex;
  align-items: center;
  justify-content: space-between;

.stats
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0
  margin-left: 10px

  > *
    margin-right: 110px


.hero
  color: color-text-dark

.download
  text-decoration: none
  display block
  line-height: 48px

.details
  display: flex

.logo
  margin-right: 20px

.name
  color: color-text-dark
  font(h1, false, false, 50px)

.description
  color: color-text-grey
  margin-top: 3px
  font(body)

.status
  color: color-text-teel-large
  font(subtitle)
  margin-top: 5px
  text-transform: uppercase
