@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.title
  display: flex;
  align-items: center;
  justify-content: flex-start;

.state
  display: inline-block;
  box-sizing: border-box;

  height: 40px

  font(subtitle, false, false, 38px)
  text-transform: uppercase;

  padding: 0 10px

  border: 1px solid color-teel-dark
  border-radius: 5px
  color: color-text-teel-dark

  margin-left: 30px
