@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.header
  height 50px

.cell
  width:  240px
  background-color: color-text-yellow
  border-color: color-text-yellow
  color: color-text-yellow-2

