@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box;
  margin: 60px auto 30px auto;
  max-width: 1000px

.header
  font(h2-title)
  color: color-text-dark
  margin-bottom: 30px
