@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.autocomplete
  position: relative;

  &:after
    position: absolute
    content: ''
    right: 0
    top: calc(50% - 8px)
    width: 12px
    height: 16px
    background-color: transparent;
    background-position: center;
    background-origin: border-box
    background-repeat: no-repeat
    background-image: url(../assets/arrow-down.svg)

  :global(.gem-autocomplete)
    &-input
      box-sizing: border-box

      font(body, false, false, normal)

      height: 32px;
      width: 100%
      padding: 0 15px 10px 0

      background-color: transparent
      color: color-text-dark

      box-shadow: none;
      border: none;
      border-bottom: 2px solid  color-heavy-blue

      transition: all 0.2s ease-out;

      resize: none;

      &:focus
        border-bottom-color color-primary-blue

    &-suggestions
      top: 33px;
      padding: 0
      box-shadow: heavy-shadow

    &-suggestion
      height: 50px

      padding-left: 25px

      font(body-bold, false, false, 50px)
      line-height: 50px

      color: color-blue-background

      &:hover
        background-color: color-medium-blue
