@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.overlay
  position: fixed;
  top 0
  left 0
  right 0
  bottom 0
  z-index: 2

  background-color: rgba(102, 167, 239, 0.9)

.modal
  box-shadow: dialog-shadow
