@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';


.i
  display: inline-block;
  position relative
  height: 12px
  width: 12px
  line-height: 12px

  path
    fill: color-text-heavy-blue

  &:hover
    path
      fill: color-text-dark
