
.i
  position: relative;
  display: inline-block;
  height: 12px
  width: 12px
  line-height: 12px

  :global(.gem-tooltip)
    background-color: #34A853

    &:after
      border-right-color: #34A853

  path
    fill: #BED8FA

  &:hover
    path
      fill: #3A506B
