
.gem-iconbutton
  box-sizing: border-box;
  position relative

  padding: 0
  margin: 0

  text-align: center;

  background-color: transparent;

  outline: 0
  cursor: pointer;
  border: none;

  &:hover
    background-color: transparent
