@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';



.container
  display: inline-block;
  width: 100%

.input
  box-sizing: content-box

  font(body-bold, false, false, normal)

  height: 22px;
  width: calc(100% - 10px)

  padding: 0 15px 10px 0

  background-color: transparent
  color: color-primary-blue
  border-bottom: 2px solid  color-heavy-blue

  transition: all 0.2s ease-out;

  outline: none;
  resize: none;

  &:focus
    border-bottom-color color-primary-blue

  .error &
    border-bottom-color: color-yellow

    &:focus
      border-bottom-color color-yellow

  &:-webkit-autofill
    transition: background-color 5000s ease-in-out 0s
    &:hover, &:focus, &:active
      transition: background-color 5000s ease-in-out 0s

  & + .label
    font(body, false, false, 40px)
    display: block;
    margin-top: -40px;
    padding: 0
    pointer-events: none;

    &:before
      content: attr(placeholder);
      display: block;
      color: color-text-dark
      white-space: nowrap;

      transition-property: transform font-size font-weight;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      transform-origin: left center;

  &:focus,
  &.active,
  &.filled
    & + .label:before
      transform: translateY(-22px)
      font-size: 11px
      font-weight: 800
