.input
  box-sizing: border-box
  display: inline-block

  font-family: 'Avenir';
  font-weight: 800;
  font-size: 16px;

  height: 32px;
  width: 100%

  padding: 0 15px 10px 0

  background-color: transparent
  color: #1C2541

  border-bottom: 2px solid  #8CBBEE

  outline: 0

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active
    transition: background-color 5000s ease-in-out 0s

  &::placeholder
    font-family: 'Avenir';
    font-weight: normal;
    font-size: 16px;
    color: #1C2541;


  &:focus
    border-bottom:  2px solid #4285F4
