@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.input
  box-sizing: border-box
  display: inline-block

  font(body-bold, false, false, normal)

  height: 32px;
  width: 100%

  padding: 0 15px 10px 0

  background-color: transparent
  color: color-text-dark

  border-bottom: 2px solid  color-heavy-blue

  outline: 0

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active
    transition: background-color 5000s ease-in-out 0s

  &::placeholder
    font(body, false, false, normal)
    color: color-text-dark;


  &:focus
    border-bottom:  2px solid color-primary-blue
