@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'
@import 'components/common/uikit/size'

.gem-sidebar
  position: fixed
  top: sz-navbar-height
  left: 0

  box-sizing: border-box;

  width: sz-sidebar-width
  height: 100vh

  background-color: color-blue-background
  z-index: 2
