@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  text-align:  center

.img
  box-sizing: border-box

  height 230px
  margin: 80px auto 0

  background-image: url('./bg.svg')
  background-color: transparent;
  background-position: center;
  background-origin: border-box
  background-repeat: no-repeat


.text
  margin-top: 50px
  color: color-black

  font(body)
  text-align:  center

.link
  display inline-block
  height 32px
  line-height 32px

  margin-top: 24px
  border-radius: 5px

  text-decoration: none
