@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  text-align:  center

.text
  margin-top: 50px

  color: color-black

  font(body)
  text-align:  center

.link
  box-sizing: border-box
  display inline-block

  height 50px
  padding: 0 22px

  margin-top: 24px

  background-color: color-medium-blue
  color: color-text-blue
  border: 1px solid color-heavy-blue
  border-radius: 5px

  font(subtitle-bold, 800, false, 48px)
  text-transform: uppercase
  text-decoration: none
  letter-spacing: 0.15em;

  cursor pointer
