@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.tabs
  margin-top: 50px
  display: flex
  justify-content: center
  align-items: center

.tab
  box-sizing: border-box
  padding: 0

  height 40px
  width: 170px

  background-color: color-light-blue

  font(h4)
  color: color-black
  border: 1px solid  color-heavy-blue

  outline: 0
  cursor pointer

  &:hover
    color: lighten(color-black, 30%)
    border-color: lighten(color-heavy-blue, 20%)
    background-color: lighten(color-light-blue, 30%)

  &:first-child
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    border-right: 0

  &:last-child
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

.tabActive
  font-weight: 800
  background-color: color-white

  &:hover
    background-color: color-white

.link
  color: color-heavy-blue
  text-decoration: none

  &:visited
    color: color-heavy-blue

.actions
  justify-content: space-between


.btns
  > *
    margin-left: 15px

.delete
  background-color: #FEEEC0
  border: 1px solid #694C00;
  color: #694C00;

  &:hover
    background-color: #FEEEC0
