@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.tabs
  margin-top: 50px
  display: flex
  justify-content: center
  align-items: center

.tab
  box-sizing: border-box

  height 32px
  padding: 0 10px
  min-width: 170px
  text-align: center

  font(subtitle, 400, false, 16px)
  border-bottom: 1px solid color-heavy-blue

  color: color-black
  background-color: transparent
  text-transform: uppercase

  outline: 0
  cursor pointer

  &:hover
    font-weight: 600
    border-bottom: 5px solid color-primary-blue

.tabActive
  font-weight: 600
  border-bottom: 5px solid color-primary-blue

.link
  color: color-heavy-blue
  text-decoration: none

  &:visited
    color: color-heavy-blue

.actions
  justify-content: space-between


.btns
  > *
    margin-left: 15px

.delete
  background-color: #FEEEC0
  border: 1px solid #694C00;
  color: #694C00;

  &:hover
    background-color: #FEEEC0
