@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  min-height: 100vh
  min-width: 100vw

  box-sizing: border-box
  background-color: color-blue-background

.content
  display: flex

.panel
  margin: 130px auto 0 auto
  width 756px

.header
  font(h2-title)
  color: color-light-blue
  text-align: center

.options
  display flex
  justify-content: space-between
  margin-top: 160px

.link
  position: relative
  display block
  text-decoration: none;
  line-height: 60px
  width: 200px

.spacer
  position: relative
  flex-grow: 1
  background-color: transparent

  &::before
    position: absolute
    content: ' '

    top: 50%
    left: 0
    right: 0
    height: 1px
    background-color: color-white;


.or
  margin: 0 auto
  position: relative
  box-sizing: border-box
  width: 60px
  height 60px
  background-color: color-blue-background

  font(body, false, false, 58px)
  text-align: center
  text-transform: uppercase

  color: color-white
  border: 1px solid color-white;
  border-radius: 30px

