@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'


.check
  margin-left: 3px
  path
    fill: color-teel-dark
.status
  font(subtitle)
  text-transform: uppercase;
  color: color-text-dark

  margin-top: 7px
