@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.content
  width: 512px
  height: 214px

  //FIXME margin
  margin: 180px auto 0

  padding: 0 40px

  display: flex
  justify-content: space-between
  align-items: center

  background: color-white

  box-sizing: border-box
  box-shadow: light-shadow

.item
  margin-top: 0
