@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  box-sizing: border-box
  height: 'calc(100vh - %s - 60px)' % sz-navbar-height
  width: 100%
  padding: 20px 20px

  display: flex
  justify-content: center
  align-items: center

  @media(max-width: breakpoint-mobile-sm)
    height: 100%
    align-items: flex-start

.panel
  box-sizing: border-box
  width: 512px
  margin-bottom: 60px
  padding: 40px 10px
  display: flex
  justify-content: space-around

  @media(max-width: breakpoint-mobile-sm)
    width: 100%

.item
  margin-top: 0
  padding: 0 5px

.item
  margin-top: 0

.pendingTitle
  position: relative

  :global(.gem-tooltip)
    width: 270px

    padding: 20px 30px
    text-transform: none
    text-align: left
    white-space: pre-wrap

    top: -39px

.i
  margin-left: 4px
  cursor: pointer
