@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.container
  height: 'calc(100vh - %s)' % sz-navbar-height
  width: 100%

  display: flex
  justify-content: center
  align-items: center

.content
  width: 512px
  height: 214px

  margin-bottom: 60px
  padding: 0 40px

  display: flex
  justify-content: space-between
  align-items: center

  background: color-white

  box-sizing: border-box
  box-shadow: light-shadow

.item
  margin-top: 0

.pendingTitle
  position: relative

  :global(.gem-tooltip)
    width: 270px

    padding: 20px 30px
    text-transform: none
    text-align: left
    white-space: pre-wrap

    top: -39px

.i
  margin-left: 4px
  cursor: pointer
