@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.menu
  display flex

.item
  box-sizing: border-box
  position relative

  display: flex
  align-items: center
  justify-content: center

  height: 50px
  min-width 130px

  font(h4-bold, false, false, 48px)
  padding: 0 20px

  color: color-black
  background-color: color-white

  border: 1px solid color-heavy-blue
  border-right-color: transparent

  cursor pointer

  &:after
    position: absolute
    content: " "
    bottom: -1px
    right: -1px
    left: 0
    height: 3px
    background-color: transparent

  &:hover
    &:after
      background-color: color-primary-blue


    .contextMenuButton
      display block


  &:last-child
    border-right-color: color-heavy-blue
    border-bottom-right-radius: 5px


.selected
  background-color: color-white

.itemText
  box-sizing: border-box

  white-space nowrap
  overflow: hidden;
  text-overflow: ellipsis;

  max-width 120px

.contextMenuButton
  position absolute
  display: none
  right: 8px
  top: calc(50% - 8px)

  background-color: transparent
  padding: 0 3px

  cursor pointer
  outline none

  path
    fill color-text-heavy-blue

.settingsButton
  box-sizing: border-box

  padding: 1px
  border: 0
  background-color: transparent

  outline: 0
  cursor pointer

.settingsIcon
  position relative
  top: 2px
  path
    fill: color-black
    fill-opacity: 0.5

  &:hover
    path
      fill-opacity: 1
