.container
  display: flex
  flex-direction: column
  height 100%

.content
  flex-grow: 1
  max-height: calc(100% - 165px)

  box-sizing: border-box
  padding: 50px 20px 10px
  overflow: auto

.actions
  display: flex
  align-items: center
  justify-content: flex-end

  box-sizing: border-box
  padding: 15px 15px

  > *
    margin-left: 15px
    font-size: 14px
