@import 'components/common/uikit/colors';

.inner
  width: 18px
  height: 18px

  border-radius: 50%

  margin: 10px

  border: 1px solid color-pink-light
  background: color-pink-light

.pin
  border-radius: 50%

  border: 1px solid color-pink-light
  background: transparent

  cursor: pointer

  position: absolute
  top: 0
  left: 0

  outline: 0
