@import 'components/common/uikit/colors';

.inner
  width: 18px
  height: 18px

  border-radius: 50%

  margin: 10px

  border: 1px solid color-pink-light
  background: color-pink-light

.pin
  position: absolute

  border: 1px solid color-pink-light
  background: transparent
  border-radius: 50%

  cursor: pointer
  outline: 0
