.container
  display: flex;
  justify-content: center;

.table
  max-width: calc(100vw - 200px)
  overflow: scroll;

.footer
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px
  min-width: 500px
