@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.container
  box-sizing: border-box;

  height: 100%
  width: 100%

  padding: 10px 14px
  position: relative;

.list
  box-sizing: content-box;

  height: calc(100% - 75px)
  width: 100%

  overflow-y: auto;

.empty
  font(body)
  color: color-white
  text-align: center
