@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';


.container
  box-sizing: border-box;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  height: 46px

  background-color: color-white
  margin-bottom: 10px
  border-radius: 5px;

  cursor pointer

  &:last-child
    margin-bottom: 0

.dragging
  opacity: 0.25;
  transform: translate(0, 0);

.drag
  min-width: 35px
  line-height: 46px
  text-align: center;
  cursor: grab;

  background-color: color-medium-blue

  border: 1px solid color-medium-blue
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px

.dragIcon
  top: 3px
  position: relative;

  path
    fill color-text-blue

.name
  box-sizing: border-box;
  padding: 0 6px

  width: 100%;

  color: color-text-dark;
  font(small-text, 500, false, 46px)

  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.info
  box-sizing: border-box;
  line-height: 46px
  padding-right: 8px

.mark
  position relative
  opacity: 0
  top: 6px
  width: 20px
  height 20px
  transition: opacity 0.15s ease-in-out

  path
    transition: fill 0.15s ease-in-out
    fill: lighten(color-heavy-blue, 30%)

  .container:hover &
    opacity: 1

  .markHover &
    path
      fill: color-heavy-blue
