@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  margin-top: 50px;

  text-align: center;

.value
  font(oversized)
  color: color-text-teel-large

.title
  font(subtitle)
  color: color-text-grey
  text-transform: uppercase;
