@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  padding: 50px 20px;

.blue
  background-color: color-light-blue

.title
  box-sizing: border-box;
  margin-bottom: 30px

  font(h3-bold)
  text-align: center;

  color: color-text-dark

.checkmark
  position: relative;
  top: -10px

  path
    fill: color-teel-dark

.content
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
