@import '~@gemsorg/uikit/colors'

.form
  box-sizing: border-box;
  padding: 75px 15px 20px

.fieldset
  box-sizing: border-box;

  margin: 0 auto;
  max-width: 520px


.field
  position: relative;
  margin-top: 37px;

.fieldTooltip
  position: absolute;
  right: 0
  top: calc(50% - 6px);

.description
  font-family: 'Avenir';
  font-size: 24px;
  color: #1C2541

  text-align: center;

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 50px

  box-sizing: border-box;

.actionBtn
  box-sizing: border-box;

  padding: 0 0
  width: 150px;
  height: 60px;
  margin-left: 25px;

  font-family: 'Avenir';
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0.2em;

  text-align: center;
  text-transform: uppercase;

  color: color-white;


  background-color: #FF7092;
  border-radius: 5px;

  outline: 0
  cursor: pointer;

  &:hover
    background-color: lighten(#FF7092, 10%)
