@import 'components/common/uikit/colors'

.form
  box-sizing: border-box;
  padding: 75px 15px 20px

.fieldset
  box-sizing: border-box;

  margin: 0 auto;
  max-width: 520px


.field
  position: relative;
  margin-top: 37px;

.fieldTooltip
  position: absolute;
  right: 0
  top: calc(50% - 6px);

.description
  font-family: 'Avenir';
  font-size: 24px;
  color: #1C2541

  text-align: center;

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-top: 50px

  box-sizing: border-box;

  > *
    margin-left: 15px

    &:first-child
      margin-left: 0px
