@import '~@gemsorg/uikit/colors'

.form
  max-width: 520px
  margin: 40px auto 0 auto;

.field
  margin-top: 37px;

.description
  font-family: 'Avenir';
  font-weight: 800;
  font-size: 16px;

  color: #1C2541

.i
  position: relative;
  display: inline-block;
  width: 13px
  height: 13px

  path
    fill: #BED8FA

  &:hover
    path
      fill: #3A506B
