@import '~@expandorg/uikit/colors';

.container
  box-sizing: border-box;

  padding: 0 20px 20px

  background: color-white;
  box-shadow: light-shadow

  border-radius: 5px;

.inner
  position: relative;
  min-height: 15px

  padding-top: 30px
  margin-top: -30px

.dimmed
  opacity: 0.35

.selected
  box-shadow: heavy-shadow

.edit
  position: absolute;

  left: 0
  right: 0
  top: 0
  bottom: 0

  cursor: pointer;

  z-index: 3

