@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  margin: 0 auto 0
  padding: 100px 0

  width: 512px


.form
  box-sizing: border-box;
  padding: 20px 30px 30px 30px

  background-color: color-white

  margin-bottom: 30px

  border-radius: 4px
  box-shadow: light-shadow

.hero
  margin-top: 0

.moneyBtn
  width: 100%

  &:first-child
    margin-right: 15px

  &:last-child
    margin-left: 15px

.actions
  margin-top: 40px

  display: flex;
  justify-content: space-between;

.title
  color: color-black
  font(h2-title)

.field
  box-sizing: border-box;
  margin-top: 30px

  display: flex;
  align-items: center;
  justify-content: space-between;

.updateBtn
  box-sizing: border-box;

  width: 100px
  min-width: 100px
  height: 40px
  font(subtitle, false, false, 38px)
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: color-text-blue
  background-color: color-medium-blue
  border: 1px solid color-heavy-blue

  border-radius: 2px;

  outline: none
  cursor: pointer;

  margin-left: 30px
