@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';
@import '~@expandorg/uikit/size';

.container
  box-sizing: border-box;
  padding: 50px 0

  @media(max-width: breakpoint-mobile-sm)
    padding: 20px 18px

.panel
  box-sizing: border-box;
  padding: 30px 30px
  margin: 0 auto 50px auto
  width: 512px

  @media(max-width: breakpoint-mobile-sm)
    width: 100%
    margin: 0 0 20px 0
    padding: 30px 20px

.title
  color: color-black
  font(h3-bold)

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px

.logout
  box-sizing: border-box;
  height: 40px
  line-height: 38px
  border-radius: 2px;

  @media(max-width: breakpoint-mobile-sm)
      width: 100%
