@import '~@expandorg/uikit/colors';
@import '~@expandorg/uikit/font';

.hero
  margin-top: 0

.actions
  margin-top: 40px

  display: flex;
  justify-content: space-between;

.deposit
  width: 100%
  margin-right: 15px

.withdraw
  width: 100%
