@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding-bottom: 20px

  height: 100%;

.content
  box-sizing: border-box;
  padding: 40px 58px 0

.title
  font(h2-title)
  color: color-text-dark;

.name
  margin-top: 40px;

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 0 20px

  > *
    margin-left: 20px

.btn
  height: 40px
  width: 130px
