@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding-bottom: 25px

  height: 100%;


.content
  box-sizing: border-box;
  padding: 40px 58px 0

.title
  font(h2-title)
  color: color-text-dark;


.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  box-sizing: border-box;
  padding: 0 25px

  > *
    margin-left: 25px
