@import 'components/common/uikit/colors';

.container
  position: absolute;
  box-sizing: border-box;

  right: 0
  top: 0
  bottom: 0

  background-color: color-white;
  box-shadow: heavy-shadow

  z-index: 3
