@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'



.item
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font(h4)
  width: 150px
  height 66px

  background-color: color-blue-background
  color: color-white

  outline: 0
  cursor: pointer;

.disabled
  cursor: default;
  opacity: 0.25

.active
  background-color: color-primary-blue

  .status
    path
      fill: color-white
