@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;

.title
  box-sizing: border-box;
  padding: 0 20px;

  position: sticky
  top: 66px

  font(h3-bold, false, false, 60px)
  text-align: center;

  color: color-text-dark
  background-color: color-white
  box-shadow: light-shadow

  cursor pointer
  z-index 1

.content
  box-sizing: border-box;
  padding: 40px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
