@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'
@import '~@expandorg/uikit/size'

.form
  display: flex
  flex-direction: column
  justify-content: space-between

  box-sizing: border-box

  min-height: calc(100vh - 66px)

.fieldSet
  width: 100%

.innerFieldSet
  box-sizing: border-box

  max-width: 520px
  margin: 65px auto
  height: 100%

.field
  position: relative;
  margin-top: 37px;

.fieldTooltip
  position: absolute;
  right: 0
  top: 10px

  :global(.gem-tooltip)
    min-width: 300px
    max-width: 500px
    white-space normal


.description
  font(h2-title, false, false, 1)
  color: color-text-dark
  text-align: center;
  margin-top: 65px

.actions
  display: flex;
  align-items: center;
  justify-content: flex-end;

  box-sizing: border-box
  height 80px
  padding: 0 20px

  background-color: color-white

  > *
    margin-left: 15px

    &:first-child
      margin-left: 0px

.error
  color: color-text-yellow-2
  font(small-text, 600, false, 1)
  margin-top: 8px
