@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.item
  width: 100%
  max-width: 520px
  padding: 10px 0
  margin: 0 auto

  display: flex
  justify-content: space-between
  align-items: center

  font(body, false, false, 22px)

  border-bottom: 1px solid color-grey-background

  box-sizing: border-box

.title
  font-weight: 500
