@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

.label
  font(body)
  color: color-text-dark
  position: relative;

  :global(.gem-tooltip)
    min-width: 300px
    max-width: 500px
    white-space normal


.fieldTooltip
  margin-left: 5px
  top: 5px

  path
    fill color-primary-blue
