@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%
  width: 100%

.preview
  text-align: center;

.icon

  path
    fill: color-heavy-blue

.text
  box-sizing: border-box;
  padding: 20px 50px 50px

  font(body-bold)
  text-align: center;

  color: color-text-dark;

.dropzone
  border: 2px dashed color-heavy-blue;
  border-radius: 5px;
