@import 'components/common/uikit/colors';
@import 'components/common/uikit/font';

.container
  box-sizing: border-box;

  height: 100%;

  overflow-y: scroll;
  padding: 0 28px

.form
  box-sizing: border-box;
  display: block
  position: relative;

  max-width: 800px;
  min-height: 100%

  margin: 0 auto;
