@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'
@import 'components/common/uikit/size'

.form
  display: flex
  flex-direction: column
  justify-content: space-between

  min-height: 'calc(100vh - %s)' % sz-navbar-height
  padding: 75px 15px 20px

  box-sizing: border-box

.description
  margin-bottom: 50px

.actions
  position relative
  padding-left: 15px
  padding-right: 15px
