.container
  box-sizing: border-box;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 100%
  width: 100%

.preview
  text-align: center;

.icon

  path
    fill: #8CBBEE

.text
  box-sizing: border-box;
  padding: 20px 50px 50px

  font-family: 'Avenir';
  font-size: 16px;

  text-align: center;

  color: #1C2541;

.dropzone
  border: 2px dashed #8CBBEE;
  border-radius: 5px;
