@import 'components/common/uikit/colors';

.overlay
  position: fixed;
  top 0
  left 0
  right 0
  bottom 0
  z-index: 2

  background-color: rgba(102, 167, 239, 0.9)

.modal
  position: absolute;
  top 40px
  bottom 40px
  left 40px
  right 40px

  background-color: color-light-blue;
  border-radius: 5px;

  outline: none

  box-shadow: dialog-shadow

  @media(max-width: 900px)
    top 0
    left 0
    right 0
    bottom 0

    border-radius: 0
    width: 100%
    box-shadow: none
