
.container
  display: flex;

  box-sizing: border-box;

  justify-content: flex-start;
  height: 100%;

.left
  width: 240px;
  min-width: 240px;

  height: 100%;

.form
  box-sizing: border-box;
  flex-grow: 1

.aside
  box-sizing: border-box;
  width: 25%
  min-width: 250px
