@import '~@gemsorg/uikit/colors';

.container
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  min-height: 100%;

.title
  font-family: 'Avenir';
  font-size: 24px;

  color: color-black

  margin-bottom: 12px

.content
  box-sizing: border-box;
  position: relative;
  flex-grow: 1
