@import 'components/common/uikit/colors';

.overlay
  position: fixed;
  top 0
  left 0
  right 0
  bottom 0
  z-index: 2

  background-color: #8CBBEE

.modal
  position: absolute;
  top 40px
  bottom 40px
  left 40px
  right 40px

  background-color: #F3F9FF;
  border-radius: 5px;

  outline: none

  @media(max-width: 900px)
    top 0
    left 0
    right 0
    bottom 0

    border-radius: 0

    width: 100%
