@import '~@expandorg/uikit/colors';

.container
  display: flex;
  position: relative;

  box-sizing: border-box;

  justify-content: flex-start;
  height: 100%;

.left
  width: 240px;
  min-width: 240px;

  height: 100%;

.editor
  flex-grow: 1
  background-color: color-light-blue;


.serachPin
  top: 35px
  left: 245px

.componentsPin
  top: 50%
  left: 245px

.notifications
  position: absolute;
  right: 0
  top: 30px
