@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  height: 100%

.top
  display: flex;
  justify-content: flex-end;

.bottom
  display: flex;
  justify-content: flex-end;

  > *
    margin-left: 15px;

    &:first-child
      margin-left: 0

.tips
  box-sizing: border-box;

  width: 100%
  margin-top: 10px
  margin-bottom: 10px

  background-color: color-white

  padding: 25px
  border-radius: 5px;


.title
  font(h2-title)

  color: color-text-dark;
  margin-bottom: 18px

.text
  box-sizing: border-box;
  padding: 7px

  font(body, false, false, 1.4)

  color: color-text-grey;
