@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 380px;

  @media(max-width: 660px)
    width: 100%;

.header
  font(font-preset[title])
  color: color-text-1
  text-align: center;

.inner
  box-sizing: border-box;
  padding-top: 28px
