@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.upload
  box-sizing: border-box;
  height: 300px

.placeholder
  box-sizing: border-box;
  text-align: center;


.image
  margin-bottom: 18px

  path
    fill: color-heavy-blue

.or
  margin-bottom: 22px
  color: color-text-dark;
  font(body)


.button
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  color: color-text-blue
  background-color: color-white;

  font(subtitle)
  text-transform: uppercase;

  width: 140px;
  height: 50px;

  border: 1px solid color-heavy-blue;
  border-radius: 5px

.api

  box-sizing: border-box;
  font(body)
  display: block;
  color: color-text-blue
  border: none
  background-color: transparent
  text-decoration: underline;

  margin: 22px auto 0 auto;

  outline: 0
  cursor pointer
