@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;

.description
  font(body)
  color: color-text-dark
  text-align: center;
  margin-top: 16px

.screenshot
  margin: 20px auto 0 auto;

  width: 100%
  height: 400px;

  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-image: url(./login-screenshot.svg);

.actions
  margin-top: 20px

.error
  margin-top: 10px;
