@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;

.description
  font(body)
  color: color-text-dark
  text-align: center;
  margin-top: 16px

.video
  margin-top: 35px
  width: 100%;

.iframe
  min-height: 330px
  max-width: 700px
  width: 100%;
  margin: 0 auto;

.video
  text-align: center;

.install
  box-sizing: border-box;
  composes: button from '../../common/Button.module.styl'
  line-height: 60px
  text-decoration: none;
  width: 300px;
