@import '~@expandorg/uikit/colors'
@import '~@expandorg/uikit/font'

.container
  box-sizing: border-box;

.headline
  color: color-text-dark
  font(h1)
  text-align: center;


.description
  font(body)
  color: color-text-dark
  text-align: center;
  margin-top: 16px

.video
  margin-top: 35px
  width: 100%;

.iframe
  min-height: 330px
  max-width: 700px
  width: 100%;
  margin: 0 auto;

.video
  text-align: center;

.install
  box-sizing: border-box;
  line-height: 60px
  text-decoration: none;
  width: 300px;
