@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;

.description
  font(body)
  color: color-text-dark
  text-align: center;
  margin-top: 20px

.screenshot
  display: block
  max-width: 800px;
  width: 100%;
  margin-top: 20px

.actions
  margin-top: 35px
  display: flex;
  align-items: center;
  justify-content: center;

  > *
    margin: 0 5px

.back
  width: 200px
