@import 'components/common/uikit/colors'
@import 'components/common/uikit/font'

.container
  box-sizing: border-box;
  text-align: center;
  padding: 0 50px 50px

  @media(max-width: 660px)
    padding-left: 10px
    padding-right: 10px

.description
  font(font-preset[menu])
  color: color-text-blue
  text-align: center;
  margin-top: 50px

.screenshot
  display: block
  max-width: 800px;
  width: 100%;
  margin-top: 50px
